@import "global";
@import "webparts/*";

/*******************************************************
 * inetSMU Intranet
 * SMU, IITS, Web & Media Technologies
 *******************************************************/

.clearfix { *zoom: 1; }
.clearfix:before,
.clearfix:after { display: table; content: ""; line-height: 0; }
.clearfix:after { clear: both; }
.hide-text { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }
.input-block-level { display: block; width: 100%; min-height: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.input-append, .input-prepend{ font:inherit; }

body, html { font-family: "myriad-pro",sans-serif; font-size:14px; overflow:auto;}
.navbar-static-top {background-color:#e6e6e6; }
/*.hrfa_01 { overflow-y: auto !important; }*/


h1, h2, h3, h4 {  margin: 10px 0 0 0; color:#666666; text-shadow:0px 1px 0px #fff; /*letter-spacinhog: -1px;*/  /*text-transform:uppercase;*/
font-family: "proxima-nova-extra-condensed",sans-serif; /*line-height: 1.2em;*/ zoom:1; color:#102b72; }
h1 { font-size: 41.300000000000004px; }
h2 { font-size: 37.1px; }
h3 { font-size: 27.3px; }
/*p { color: #6b7175; }*/ /*karl*/
h1{ font-size:26px; margin: 15px 0 0 0; font-size:35px; color:#666666; text-shadow:0px 1px 0px #fff; letter-spacing: -1px; text-transform:uppercase; }
h3, .newFaces-heading { margin: 10px 0 7px 0;
font-size:27.3px  !important; font-weight:bold !important;
 text-shadow:0px 1px 0px #fff; letter-spacing: -1px; font-family: "proxima-nova-extra-condensed",sans-serif !important; line-height: 1em;  zoom:1; color:#102b72 !important; }

/*Force underline*/
.span9 .article-content a { text-decoration:underline !important;}  /*added by karl*/
.span9 .article a { text-decoration:underline !important;}  /*added by karl*/
.span9 a { text-decoration:underline !important;}  /*added by karl*/

/*Force remove underline*/
.accordion-group a, accordion-toggle a:visited { text-decoration:none !important;}  /*added by karl*/
.accordion-group a, .accordion-toggle a { text-decoration:none !important;}  /*added by karl*/

a.accordion-group a, a.accordion-toggle a { text-decoration:none !important;}  /*added by karl*/
a.accordion-group , a.accordion-toggle { text-decoration:none !important;}  /*added by karl*/


#sp-left-menu  a:visited, #sp-left-menu  a { text-decoration: none !important; } /*added karl*/
.smu-mobileNavMenu a:visited, .smu-mobileNavMenu a { text-decoration: none !important; } /*added karl*/
.smu-mobileNavMenu .left_menu_item_new a:visited, .smu-mobileNavMenu .left_menu_item_new a { text-decoration: none !important; } /*added karl*/
.left_menu_item_new left_menu_item_current_page { text-decoration:none !important;} /*added karl*/

#sp-left-menu .smu-mobileNavMenu a, #sp-left-menu .smu-mobileNavMenu a:visited { text-decoration: none !important; } /*added karl*/
.inner-leftmenu a, .inner-leftmenu a:visited { text-decoration: none !important; } /*added karl*/



.site-title-main-wrappper { position:relative;}
.site-title-main-wrappper .site-title-wrappper { position:absolute; left:39px; top:0px;}
.site-title-main-wrappper .site-title-wrappper .site-title,
.site-title,
.site-title a { margin: 0px 0 7px 0; font-size:30px  !important; font-weight:bold !important; letter-spacing:0; font-family: "proxima-nova-extra-condensed",sans-serif !important; line-height: 0.7em;  zoom:1; color:#fff !important; }


.page-title { margin: 0; }
.page-title small { color: rgba(51, 51, 51, 0.5); }
a:focus { outline: none; }
#header-hidden-link { float: right; margin: -20px 81px 0 2em; } /*margin: -20px 0 0 2em;*/
/*#header-hidden-link a { display: block; font-size: 0; line-height: 30px; width: 35px; height: 30px; background: #959595; text-align: center; color: #ffffff; }*/
#header-hidden-link a { display: block; font-size: 0; line-height: 30px; width: 54px; height: 30px; background: #605d5d; text-align: center; color: #ffffff; }

#header-hidden-link a > i:before {
  content: "\f067";
  font-family: 'FontAwesome';
  font-size: 20px;
  font-style: normal;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

/*menu text karl*/
.header .menu-text { position:absolute; top:0px; right:80px; color:#fff; font-size:14px; font-weight:bold; width:54px;
border-bottom:1px solid #0e2767; border-left:1px solid #0e2767; border-right:1px solid #0e2767; }
.header .menu-text:hover { background-color:#2f2e2c; border-bottom:1px solid #575757; border-left:1px solid #575757; border-right:1px solid #575757;}

/*#header-hidden-link a.open > i:before { content: "\f068"; }*/
#header-hidden-link a.open > i:before { content: "\f068"; }
#header-hidden-link a:hover { text-decoration: none; }
#header-hidden-link a:hover i:before { font-size: 24px; }
.scrolltop { width: 40px; height: 40px; line-height: 40px; opacity: 0.8;
  filter: alpha(opacity=80); position: fixed;
  bottom: 10px; right: 10px; display: none; font-size: 0; background: #343331; z-index: 999999; text-align: center; color: #ffffff; }
.scrolltop:hover { text-decoration: none; opacity: 0.9; filter: alpha(opacity=90); }
.scrolltop:before { content: "\f106";
  font-family: 'FontAwesome';
  font-size: 30px; font-style: normal; }
.show-hide-open {
  height: auto !important; min-height: 40px; max-height: 4000px; }
.show-hide-close { height: 0; overflow: hidden; }
.border {border: 1px solid #cdcdcd; display: block; padding:0 8px 8px 15px; z-index:1;}

.inetSMU_01 { background-image: url(../img/backgrounds/hrfa_01.jpg); }

/* --------------------------------------------------
 * Top Applications
 *-------------------------------------------------- */
#inetSMU_top_applications_wrapper { border: 1px solid #cdcdcd; display: block; padding:4px 8px 12px 18px; z-index:1; background-color:#FFF; } /*padding:4px 8px 12px 11px*/
ul.inetSMU_top_applications{ margin: 0px; padding: 0; /**width: 350px;*/}
ul.inetSMU_top_applications .spanCenter { text-align:center !important;}
ul.inetSMU_top_applications li{ font-size:11px; display: inline-block; width:55px; height:55px; padding: 12px 5px 5px 0; margin: 0;



/**padding: 20px 30px 10px 0; *display: inline; *zoom: 1;*/
/*-moz-opacity:0.8; filter: alpha(opacity=80); opacity:0.8;
-moz-transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out;*/ }
/*ul.inetSMU_top_applications li:hover{ -moz-opacity:1.0 !important; filter: alpha(opacity=300) !important; opacity:1.0 !important; }	*/
.inetSMU_top_applications li span{ text-align:center !important; }
.inetSMU_top_applications li .icontext{ text-align:center !important; display:block; }
.inetSMU_special_note {font-size:10px; }


/* --------------------------------------------------
 * Zones & Regions
 *-------------------------------------------------- */
#background-wrapper { background-color: #c7d2d4; background-position: left top; background-repeat: no-repeat; background-attachment: fixed; padding-bottom: 0;}
#main #highlighted{ border-bottom: 4px solid #00467f; }

.page-index #background-wrapper,
.page-index-static #background-wrapper,
.has-hero #background-wrapper { padding-bottom: 0; }


/* --------------------------------------------------
 * Navigaton
 *-------------------------------------------------- */

/* Mega Menu Image*/
.navWrapperImageDiv img { width:190px; background:none !important; opacity:1.0; box-shadow:none;}
.navWrapperImageDiv img:hover{ background:none !important; opacity:1.0 !important; box-shadow:none; text-decoration:none !important;}
 /*.navWrapperImageText { display:none;}hide the text for image*/



#navigation { *zoom: 1; }
#navigation:before,
#navigation:after { display: table; content: ""; line-height: 0; }
#navigation:after { clear: both; }
#navigation .btn-navbar { text-align: center;
  float: left; background: #ffffff; color: #00467f;
  -webkit-box-shadow: 0 1px 3px rgba(52, 51, 49, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(52, 51, 49, 0.3);
  box-shadow: 0 1px 3px rgba(52, 51, 49, 0.3);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; padding: 0 12px 0 0; text-transform: none; display: inline-block; line-height: 10px; /*20px;*/ border: none; margin: 0;
  -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;
  font-weight: bold; margin: 12px; /*line-height: 26px;*/ padding: 0/*1px*/;
  -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; display: none; }
#navigation .btn-navbar.block-link { display: block; *zoom: 1; }
#navigation .btn-navbar.block-link:before,

#navigation .btn-navbar.block-link:after { display: table; content: ""; line-height: 0; }
#navigation .btn-navbar.block-link:after { clear: both; }
#navigation .btn-navbar.block-link i { float: left; }
#navigation .btn-navbar:hover { background: #d9d8d8; color: #102b72; text-decoration: none; text-shadow: none; }
#navigation .btn-navbar i,
#navigation .btn-navbar [class*=" icon-"] { background: #d9d8d8; color: #102b72; font-style: normal;
  font-weight: 100; -webkit-border-radius: 2px 0 0 2px; -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px; height: 20px; width: 20px; display: inline-block; line-height: 20px; text-align: center; margin: 0; padding: 0; margin-right: 8px; }
#navigation .btn-navbar i.default:before,
#navigation .btn-navbar [class*=" icon-"].default:before { content: "\f067"; font-family: 'FontAwesome'; }
#navigation .btn-navbar.i-right { padding: 0 0 0 12px; }
#navigation .btn-navbar.i-right i,
#navigation .btn-navbar.i-right [class*=" icon-"] { margin-right: 0; margin-left: 8px; -webkit-border-radius: 0 2px 2px 0; -moz-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; }
#navigation .btn-navbar.large { line-height: 38px; }
#navigation .btn-navbar.large i { height: 38px; line-height: 40px; width: 38px; font-size: 22px; vertical-align: top; }
#navigation .btn-navbar i { height: 30px; line-height: 32px; width: 38px; font-size: 20px; margin: 0; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; }

/* --------------------------------------------------
 * Header Hidden
 *-------------------------------------------------- */

.header-hidden { background: #605d5d; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; height: 0; overflow: hidden; color: #ffffff;}
.header-hidden.show-hide-open { padding: 14px 0 17px 0; }
.header-hidden a,
.header-hidden p { color: #ffffff !important; }
.header-hidden a.more-link,
.header-hidden p.more-link { color: #00467f; }
.header-hidden a.more-link:hover,
.header-hidden p.more-link:hover { color: #ffffff; }
.header-hidden h4 { color: #ffffff; } /*karl*/

.header { color: #bcbfc4; padding: 20px 0 20px 0; position: relative; border-top: 4px solid #959595; background-color:#102b72 !important; } /*karl changed padding top and bottom - orig 20px */


.navbar { color: #343331; margin: 0; }
.navbar-inner { margin: 0; padding: 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; border: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{	box-shadow:none !important;}

.header .brand { padding:0;
  margin: 0; display: block; text-shadow: none;
  line-height: 1;  float:left;
  /*background: url(../img/logo_hrfa1.png) left top no-repeat; height: 30px; width: 220px;*/
   }
.header .brand h1 { font-size: 33.5px; font-weight: normal; text-transform: uppercase; margin: 0; padding: 0; line-height: 1; }
.header .brand:hover { text-decoration: none; cursor: pointer; }
.header .slogan { line-height: 1.2; color: #bcbfc4; }
#highlighted { color: #ffffff; }
#highlighted .inner { padding: 25px 0 45px 0;} /*kaka 20px 0 0 0; karl */
#content { padding: 10px 20px; background-color: #ffffff; }/*Theingi important*/


.content-texture #content,
.has-hero #content { /*background: #ffffff url(../img/bg_content-wrapper.png) left top repeat-x;*/ }

/* --------------------------------------------------
 * Foooter
 *-------------------------------------------------- */
#footer { padding: 20px 0 16px 0; color: #fff; font-size:12px; background-color:#605d5d;
/* position:fixed; left:0px; bottom:0px; width:100%; */}
#footer a { color: #fff;}
#footer .container { position: relative; }
/*hack to remove the space*/
#s4-bodyContainer { padding-bottom:0 !important;}


/* --------------------------------------------------
 * Breadcrumbs
 *-------------------------------------------------- */
.s4-breadcrumb-arrowcont { display:none; } /*karl*/
.ms-breadcrumbRootNode { color:#102B72; }
.ms-breadcrumbRootNode a { color:#727272; font-weight:bold;  }
/*.ms-breadcrumbRootNode a:after { content: " &#9658"; }*/
.ms-breadcrumbRootNode a:after { content: " / "; }
.ms-breadcrumbRootNode a:hover { text-decoration:none; }
.ms-breadcrumbCurrentNode { margin-left:-7px;}

/* --------------------------------------------------
 * InsidePage
 *-------------------------------------------------- */
h1#pageTitle { text-transform:none; border-bottom:1px solid #cdcdcd;

margin: 10px 0 0 0; color:#666666; text-shadow:0px 1px 0px #fff; letter-spacing: -1px;  /*text-transform:uppercase;*/
font-family: "proxima-nova-extra-condensed",sans-serif; /*line-height: 1.2em;*/ zoom:1; color:#102b72; }


/* --------------------------------------------------
 * Navbar Menu
 *-------------------------------------------------- */
.navbar .nav#main-menu { margin: 0; padding: 0; } /*karl add height - dont add height nav in mobile will not work*/
.navbar .nav#main-menu .caret { color: #00467f; vertical-align: middle; margin: -12px 0 0 5px; border: none; line-height: 1; font-size: 10px; font-weight: normal; }
.navbar .nav#main-menu .caret:after {
  content: "\f078";
  font-family: 'FontAwesome';
}
.navbar .nav#main-menu li { border-right: 1px solid #D3D3D3; margin: 0; font-weight:100; /*kaka*/  }
.navbar .nav#main-menu li.home-link a {
  text-align: center;
  font-size: 20px;
  height:30px; /*karl added*/
}
.navbar .nav#main-menu li:first-child { border-left-color: #ffffff; }
.navbar .nav#main-menu li a {
  /*
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  */ /*karl hide*/

  font-weight: 600;
}
.navbar .nav#main-menu li a.top-level {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 60px;
  line-height: 60px;
  /*padding: 0 21px 0 13px; debug*/
  padding: 0 19px 0 12px;;
  font-size: 16.5px;
  font-weight: bold; /*600*/
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  font-family: "proxima-nova-extra-condensed",sans-serif !important; /*karl*/
  color:#2a2a2a; /*#727272*/ /*karl*/
}
.navbar .nav#main-menu li a.top-level small { display: block; line-height: 1; }
.navbar .nav#main-menu li a.top-level:hover .dropdown-menu { display: block; }
.navbar .nav#main-menu li a.top-level:hover,
.navbar .nav#main-menu li.home-link a:hover { background: #00467f;/*#fff*/ border-bottom-color: #00467f; color: #fff; /*00467f*/ text-shadow:none; }

.navbar .nav#main-menu li.home-link a:active { background-color: #00467f !important;/*#fff*/ border-bottom-color: #00467f; color: #fff; /*00467f*/ text-shadow:none; } /*karl here*/

li.mega-menu-selected {
	/*border-bottom: 1px solid #969696 !important;*/
	background-color:#102b72 !important; /*karl*/
}

.navbar .nav#main-menu li.open a.dropdown-toggle,
.navbar .nav#main-menu li.active a.top-level,
.navbar .nav#main-menu li.active a:hover { background: #00467f; color: #ffffff; text-shadow: none; }
.navbar .nav#main-menu li.open a.dropdown-toggle .caret,
.navbar .nav#main-menu li.active a.top-level .caret,
.navbar .nav#main-menu li.active a:hover .caret { color: #ffffff; }
.navbar .nav#main-menu li.open a.dropdown-toggle { border-bottom-color: transparent; }
.navbar .nav#main-menu .dropdown-menu {
	margin-top: 0px;
	padding: 1em;
	/*right: 0; -webkit-border-radius: 0; */ /*theingi fix widauto*/
	-moz-border-radius: 0;
	border-radius: 0;
	border-top: 3px solid #00467f;
	background: #f3f3f3;
	width:auto; /*karl*/
}

.navbar .nav#main-menu .dropdown-menu.mega-menu { min-width: 491px; /*495px*/  list-style: none; padding: 0;
list-style-type:none !important;
} /*karl*/

/*Main Nav Selected*/
.ms-core-listMenu-selected:link, .ms-core-listMenu-selected:visited, .ms-core-listMenu-selected, .ms-core-listMenu-selected { background-color:#00467f; text-shadow:none !important; color:#FFF !important;
  content: "\f078" !important;
  font-family: 'FontAwesome';
} /*karl added*/

.ms-core-listMenu-selected:active .caret:active { color:#FFF !important;} /*karl added*/

.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-wrapper ul { padding: 1em 0; }
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-wrapper ul li { padding: 0 1em; }
.navbar .nav#main-menu .dropdown-menu.mega-menu .menu-title { text-transform: uppercase; /*font-weight: 300;*/ font-weight:bold; }

.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer { background: #6b7175; padding: 1em; color: rgba(255, 255, 255, 0.8); font-size: 12px; *zoom: 1; }
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer:before,
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer:after { display: table; content: ""; line-height: 0; }
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer:after { clear: both; }
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer strong { color: #ffffff; }
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer a.more-link { background: #ffffff; color: #00467f;
  -webkit-box-shadow: 0 1px 3px rgba(52, 51, 49, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(52, 51, 49, 0.3);
  box-shadow: 0 1px 3px rgba(52, 51, 49, 0.3);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px; border-radius: 2px; padding: 0 12px 0 0; text-transform: none; display: inline-block;
  line-height: 20px; border: none; margin: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; font-weight: bold; display: block; font-size: 12px; }
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer a.more-link.block-link { display: block; *zoom: 1; }
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer a.more-link.block-link:before,
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer a.more-link.block-link:after { display: table; content: ""; line-height: 0; }
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer a.more-link.block-link:after { clear: both; }
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer a.more-link.block-link i { float: left; }
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer a.more-link:hover { background: #00467f; color: #ffffff; text-decoration: none; text-shadow: none; }
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer a.more-link i,
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer a.more-link [class*=" icon-"] { background: #00467f; color: #ffffff; font-style: normal; font-weight: 100; -webkit-border-radius: 2px 0 0 2px; -moz-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px; height: 20px; width: 20px; display: inline-block; line-height: 20px; text-align: center; margin: 0; padding: 0; margin-right: 8px; }
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer a.more-link i.default:before,
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer a.more-link [class*=" icon-"].default:before { content: "\f067"; font-family: 'FontAwesome'; }
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer a.more-link.i-right { padding: 0 0 0 12px; }
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer a.more-link.i-right i,
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer a.more-link.i-right [class*=" icon-"] { margin-right: 0; margin-left: 8px; -webkit-border-radius: 0 2px 2px 0; -moz-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; }
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer a.more-link.large { line-height: 38px; }

.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer a.more-link.large i { height: 38px; line-height: 40px; width: 38px; font-size: 22px; vertical-align: top; }
.navbar .nav#main-menu .dropdown-menu.mega-menu .mega-menu-footer a.more-link:before { display: none; }
.navbar .nav#main-menu .dropdown-menu:after,
.navbar .nav#main-menu .dropdown-menu:before { border-bottom-color: #00467f; border-width: 9px; top: -9px; display: none; }
.navbar .nav#main-menu .dropdown-menu.pull-right { right: 0; }
.navbar .nav#main-menu .dropdown-menu.pull-left { right: auto; left: -1px; }
.navbar .nav#main-menu .dropdown-menu.pull-left:before,
.navbar .nav#main-menu .dropdown-menu.pull-left:after { right: auto; left: 0; }
.navbar .nav#main-menu .dropdown-menu li { border-left: none; border-right: none; margin: 0;
list-style: none;
list-style-image: url(data:0);
/*list-style-image:none;*/
}
.navbar .nav#main-menu .dropdown-menu li[role="menuitem"] a {
	margin: 0; padding:5px 8px 6px 17px;  height: auto; /*line-height: 1.2;*/  font-size: 13.5px;  border: none;  text-transform: none;  position: relative;  color: #2a2a2a;  display: block;  font-weight:normal;

background-repeat: no-repeat !important;
/*background:url('/sites/hr/_catalogs/masterpage/hrfa/img/arrow_blue.png'); */
background:url('../img/arrow_blue.png');
list-style-type:none !important;  background-position:left 5px center; }

.navbar .nav#main-menu .dropdown-menu li[role="menuitem"] a:before { /*content: "\f111"; font-family: 'FontAwesome';font-size: 5px;*/  color: #2a2a2a; margin: 0 6px 0 0; padding: 0; vertical-align: middle;}
.navbar .nav#main-menu .dropdown-menu li[role="menuitem"] a:hover {
	color: #2a2a2a;
	/*background: #969696;*/
	text-decoration: none;
	background-color:#dbdbdb !important;

background-repeat: no-repeat !important;
/*background:url('/sites/hr/_catalogs/masterpage/hrfa/img/arrow_blue.png'); */
background:url('../img/arrow_blue.png');
list-style-type:none !important;
background-position:left 5px center;
filter:none;
}

.user-menu { margin-top: -10px; }
.user-menu li { list-style: none; padding: 0; margin: 0 10px; display: inline-block; }

.user-menu li:last-child { margin-right: 0; }
.user-menu li i { color: #00467f; font-size: 14px; }
.user-menu li a { color: #ffffff; text-transform: uppercase; font-size: 12px; }
.user-menu li a:hover { color: #00467f; }
address strong { margin-top: 5px; display: block; }
address i { margin-right: 6px; }

.btn span { display: block; font-size: 12px; }
.spacer { font-weight: bold; color: #00467f; }
.spacer.dark { color: #00467f; }
.full-screen { height: 100%; }
.full-screen#background-wrapper { border: none; }
.full-screen #content { padding: 5% 0; background: transparent; }
.full-screen .header .brand { margin: 0 auto; }

/* --------------------------------------------------
 * Homepage
 *-------------------------------------------------- */
.flexslider-wrapper .caption,
.static-banner .caption { padding: 1% 0 0 0; /*kaka 5%*/ /*1% 0 5% 0*/ }

.flexslider-wrapper .caption.caption-right,
.static-banner .caption.caption-right { text-align: right; padding-left:100px;  /*karl*/}

.flexslider-wrapper .caption h1,
.static-banner .caption h1,
.flexslider-wrapper .caption h2,
.static-banner .caption h2,
.flexslider-wrapper .caption h3,
.static-banner .caption h3,
.flexslider-wrapper .caption h4,
.static-banner .caption h4,
.flexslider-wrapper .caption h5,
.static-banner .caption h5,
.flexslider-wrapper .caption p,
.static-banner .caption p { margin-top: 0; }
.flexslider-wrapper .caption .btn,
.static-banner .caption .btn { margin: 0; }
.flexslider-wrapper .flexslider,
.static-banner .flexslider { margin: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; border: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; background: transparent; }
.mission h1, .mission h2, .mission h3, .mission h4, .mission h5 { font-weight: 100; text-shadow: 1px 1px 0 #ffffff; }

/*HOMEPAGE SLIDER FIX*/
.slider-content { padding: 0 0 10px 0; color:#000;} /*karl*/
.slider-image-right { text-align:left; padding-left:20px;}

/*----------------------------------
WHAT'S HAPPENING
----------------------------------*/
.ms-WPBody.noindex #9c1b7815-71ae-4775-9717-28be6df8cac3 { background-color:#FF0 !important; padding:0 !important; margin:0 !important; width:auto !important;} /*karl*/
#9c1b7815-71ae-4775-9717-28be6df8cac3 { width:auto !important;} /*karl*/

/*----------------------------------
SEARCH
----------------------------------*/
.ms-srch-sb-borderFocused { border:none !important; } /*karl*/
.ms-srch-sb-border{ border:none !important;}  /*karl*/
.ms-srch-sbLarge-searchImg { background-color:#666666;}  /*karl*/
.ctl00_PlaceHolderSiteName_PlaceHolderSearchArea_g_6cf66b5b_d038_4618_aa00_fe7fbb3776c8_csr_sboxdiv { color:#333 !important;} /*added by karl*/
/*search box position*/
.input-append,.input-prepend { }

.ms-srch-sbLarge>input { font-family: "myriad-pro",sans-serif !important; font-size:14px !important; } /*SEARCH BOX center */
.input-append input, .input-append select, .input-append .uneditable-input { font-family: "myriad-pro",sans-serif !important; font-size:14px !important; } /*SEARCH BOX top header */


/*----------------------------------
SMU NEWS
----------------------------------*/
.inetSMU_elearn_news_block_wrapper { border: 1px solid #cdcdcd; display: block; /*z-index:1;*/ padding: 0px; background-color:#fff; clear: left; padding: 6px 17px 13px 20px;}

.inetSMU_news_block_wrapper { /*border: 1px solid #cdcdcd;*/ display: block; /*z-index:1;*/
/*padding: 0px; padding: 6px 17px 13px 20px;*/ background-color:#fff; clear: left; }
.inetSMU_news_wrapper { padding: 13px 0 15px 0; border-bottom: 1px solid #cdcdcd;} /* wrapper whole feed*/
.inetSMU_news_wrapper .media-body { /*padding-left:10px;*/} /* wrapper content*/
.inetSMU_news_wrapper .media-body p { color:#333; line-height:17px;}
.inetSMU_news_wrapper .media-body a,a:visited { color:#333;}
ul.inline, ol.inline { color: #9e9e9e !important; padding:5px 0 5px 0; font-size:13px;} /*news date name and department*/
.media-heading {margin: 0 0 7px !important; line-height:17px;} /*hack spacing from bootstrap*/

.inetSMU_news_wrapper .news_name { font-size:16px; margin:0; color:#333 !important;}

/*IMAGE*/
#newsThumbnail { width:80px; height:60px; }

/*----------------------------------
SMU ANNOUNCEMENTS
----------------------------------*/
.inetSMU_announcements_block_wrapper { border: 1px solid #cdcdcd; display: block; /*z-index:1;*/ padding: 0px; background-color:#fff; clear: left; padding: 6px 17px 13px 20px; }
.inetSMU_announcements_wrapper { padding: 13px 0 15px 0; border-bottom: 1px solid #cdcdcd;} /* wrapper whole feed*/
.inetSMU_announcements_wrapper .media-body { /*padding-left:10px;*/} /* wrapper content*/
.inetSMU_announcements_wrapper .media-body p { color:#333; line-height:17px;}
.inetSMU_announcements_wrapper .media-body a,a:visited { color:#333;}
ul.inline, ol.inline { color: #9e9e9e !important; padding:5px 0 5px 0; font-size:13px;} /*news date name and department*/
.media-heading {margin: 0 0 7px !important; line-height:17px;} /*hack spacing from bootstrap*/
.media-heading_details {
margin: 0 0 7px !important; line-height:27px;width:inherit !important;
-ms-word-break: break-all;

     /* Be VERY careful with this, breaks normal words wh_erever */
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;

} /*hack spacing from bootstrap*/
.inetSMU_announcements_wrapper .news_name { font-size:16px; margin:0; color:#333 !important;}
.article-body .inetSMU_announcements_block_wrapper{ border:0; padding:0px;}
/*IMAGE*/

#announcementsThumbnail { width:80px; height:60px; }
#thumbnailCol { width:40%; }

#announcementsThumbnail { width:80px; height:60px; }

.inet_announce_back
{
line-height:35px;
vertical-align:bottom;
}
.inetSMU_announce_pagingArea
{
	text-align:center;
}

.inetSMU_announce_pagingMain
{
line-height:35px;vertical-align:bottom;
}
.inetSMU_announce_pagingAreaMain
{
	text-align:right;
}

.inetSMU_announce_prev
{
		margin-bottom:-5px;
	vertical-align:text-top;padding-top:2px;
/*width:21px;
height:20px;*/

}

.inetSMU_announce_request
{
text-align:center;
font-size:9pt;
}

.inetSMU_announce_next
{
	/*vertical-align:bottom;*/
	/*line-height:50px;*/
		margin-bottom:-5px;
	vertical-align:text-top;padding-top:2px;
/*width:21px;
height:20px;*/

}

.inetSMU_announce_paging
{
	vertical-align:middle;
	margin-top:-10px;
	line-height:40px;
	font-weight:400;
}

.inetSMU_announce_detailsImage
{
width:400px !important;

}

.inetSMU_announce_details p {
margin-top:12px !important;
line-height:20px;
width:inherit !important;
-ms-word-break: break-all;

     /* Be VERY careful with this, breaks normal words wh_erever */
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

.inetSMU_announce_details a {

width:inherit !important;
-ms-word-break: break-all;

     /* Be VERY careful with this, breaks normal words wh_erever */
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

.inetSMU_grantresources_table_wrapper
    {
        display: table;
width:100%;

    }

       .inetSMU_grantresources_row
    {
        display: table-row;
width:100%;
    }
    .inetSMU_grantresources_info
    {
        display: table-cell;

/*border-color:#dee0e0;*/
border-width:0px;
       width: 80%;
    }

    .inetSMU_grantresources_links_wrappper
    {
     display: table-cell;

/*border-color:#dee0e0;*/
border-width:0px !important;
        vertical-align:top;
        padding-left: 25px;
        padding-right: 5px;
padding-bottom:7px;
text-align: left;

word-wrap: break-word;
border-top: 1px solid #dee0e0;
border-left: 1px solid #dee0e0;
border-right: 1px solid #dee0e0;
border-bottom: 1px solid #dee0e0;

width: 20%; }
.inetSMU_grantresourceslink_image { height:53px; width:120px; }
.inetSMU_grantcalls_news_block_wrapper { border: 1px solid #cdcdcd; display: block; /*z-index:1;*/ padding: 0px; background-color:#fff; clear: left; padding: 6px 17px 13px 20px;}
.inetSMU_grantcalls_news_wrapper{ padding: 13px 0 15px 0; border-bottom: 1px solid #cdcdcd;} /* wrapper whole feed*/


.inetSMU_grantcalls_news_wrapper .media-body p { color:#333; line-height:17px;}
.inetSMU_grantcalls_news_wrapper .media-body a,a:visited { color:#333;}
ul.inline, ol.inline { color: #9e9e9e !important; padding:5px 0 5px 0; font-size:13px;} /*news date name and department*/
.media-heading {margin: 0 0 7px !important; line-height:17px;} /*hack spacing from bootstrap*/

.inetSMU_grantcalls_news_wrapper .news_name { font-size:16px; margin:0; color:#333 !important;}


/*IMAGE*/
#newsThumbnail { width:80px; height:60px; }
#thumbnailCol { width:40%; }

#newsResourcesThumbnail { width:60px; height:60px; }



.inetSMU_resourceslink_header
{

	font-weight:bold;
	text-decoration:underline;
	text-align:right;
}


.inetSMU_grantresources_news_block_wrapper { border: 1px solid #cdcdcd; display: block; /*z-index:1;*/ padding: 0px; background-color:#fff; clear: left; padding: 6px 17px 13px 20px;}
.inetSMU_grantresources_news_wrapper{ padding: 13px 0 15px 0; border-bottom: 1px solid #cdcdcd;} /* wrapper whole feed*/
.inetSMU_grantresources_news_wrapper .media-body { /*padding-left:10px;*/} /* wrapper content*/
.inetSMU_grantresources_news_wrapper .media-body p { color:#333; line-height:17px;}
.inetSMU_grantresources_news_wrapper .media-body a,a:visited { color:#333;}
ul.inline, ol.inline { color: #9e9e9e !important; padding:5px 0 5px 0; font-size:13px;} /*news date name and department*/
.media-heading {margin: 0 0 7px !important; line-height:17px;} /*hack spacing from bootstrap*/

.inetSMU_grantresources_news_wrapper .news_name { font-size:16px; margin:0; color:#333 !important;}

/*----------------------------------
SMU TABS / HORIZONTAL TABS (Desktop)
----------------------------------*/
ul.smu-tabs-list, p { margin: 0px; padding: 0px; }
.smu-tabs-list li {
font-weight: 600;
font-size: 13px;
text-transform:uppercase;
display: inline-block;
padding: 0 10px;
line-height:30px;
margin: 0; list-style: none; cursor: pointer; float: left; color:#FFF; background-color:#605d5d; border-right:1px solid #fff; }
.smu-tabs-list li:hover {background-color: #2f2e2c; } /*KARL ADDED a6a5a5*/
.smu-tabs-container { padding: 0px; background-color:#fff; clear: left; }


/*Fix span6 and span3 karl*/
/*.right-col .smu-tabs-list li, .left-col .smu-tabs-list li {padding: 10px 6px;}*/
.right-col #newsThumbnail, .left-col #newsThumbnail { width:70px; height:50px;}
.right-col .inetSMU_news_wrapper .media-body, .left-col .inetSMU_news_wrapper .media-body { padding-left:36px;}


/*New Faces Tabs*/
.smu-tabs-container-new { padding: 0px; background-color:#efefef ; clear: left; }


h2.resp-accordion { cursor: pointer; padding: 5px; display: none; }
.smutab-content { display: none; padding: 15px; }

.smutab-content-wrapper{ border-bottom:1px solid #cccccc; padding: 8px 0 8px 0;} /* wrapper whole feed*/
.smutab-content-wrapper .media-body { padding-left:10px;} /* wrapper content*/
.smutab-content-wrapper .tab_name { font-size:16px; margin:0; color:#333 !important;}
.smutab-content-wrapper span.tab_title {}
.smutab-content-wrapper span.tab_dept { }
.smutab-content-wrapper span.tab_email {}
.smutab-content-wrapper span.tab_contact { }

.smutab-active { /*border: 1px solid #fff;*/ border-right: 1px solid #fff; /*border-left: 1px solid #fff;*/ border-bottom: none; border-top: none; margin-bottom: -1px !important; background-color:#102b72 !important; }
.smutab-active a:active, .smutab-active a:link{ color:#FFF; background-color: #102b72; }
.resp-content-active, .resp-accordion-active { display: block; }
.smutab-content { border: 1px solid #cccccc;  }

/*----------------------------------
VERTICAL TABS (Tablet & Mobile)
----------------------------------*/
h2.resp-accordion { font-size: 13px; border: 1px solid #c1c1c1; border-top: 0px solid #c1c1c1; margin: 0px; padding: 10px 15px; }
h2.smutab-active { border-bottom: 0px solid #c1c1c1 !important; margin-bottom: 0px !important; padding: 10px 15px !important; background-color:#102b72 !important; }
h2.smutab-title:last-child { border-bottom: 12px solid #c1c1c1 !important; background: blue; }

.smu-vtabs ul.smu-tabs-list { float: left; width: 30%; }
.smu-vtabs .smu-tabs-list li { display: block; padding: 10px 30px !important; margin: 0; cursor: pointer; float: none; }
.smu-vtabs .smu-tabs-container { padding: 0px; background-color: #fff; border: 1px solid #c1c1c1; float: left; width: 68%; min-height: 250px; border-radius: 4px; clear: none; }
.smu-vtabs .smutab-content { border: none; }
.smu-vtabs li.smutab-active { border: 1px solid #c1c1c1; border-right: none; background-color: #fff; position: relative; z-index: 1; margin-right: -1px !important; padding: 14px 15px 15px 14px !important; }
.resp-arrow { width: 0; height: 0; float: right; margin-top: 3px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 7px solid #c1c1c1; }
h2.smutab-active span.resp-arrow { border: none; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 7px solid #fff; }

/*----------------------------------
VERTICAL ACCORTION STYLE
----------------------------------*/
.resp-easy-accordion  h2.resp-accordion { display: block;  }
.resp-easy-accordion .smutab-content { border: 1px solid #c1c1c1; }
.resp-easy-accordion .smutab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
/*.resp-jfit { width: 100%; margin: 0px; }*/
.smutab-content-active { display: block;  }
/*h2.resp-accordion:first-child { border-top: 1px solid #c1c1c1 !important;}*/
h2.resp-accordion{ background-color:#969696; color:#FFF; text-transform:uppercase;}

/*----------------------------------
TABS TO ACCORDION (Media Query)
----------------------------------*/
@media only screen and (max-width: 768px) {

#navigation .navbar .nav#main-menu li .dropdown-menu li a, #navigation .navbar .nav#main-menu li .dropdown-menu li a:link { padding: 6px 16px;}	/*fix for arrow padding*/

ul.smu-tabs-list { display: none; }
h2.resp-accordion { display: block; font-family: "myriad-pro",sans-serif; font-size:14px; text-transform:uppercase; letter-spacing:0; text-shadow:none;} /*karl added*/

/*for inside page*/
.container.inetSMU-body #content .article-body h2.resp-accordion { display: block; font-family: "myriad-pro",sans-serif; font-size:14px; text-transform:uppercase; letter-spacing:0; text-shadow:none; padding: 10px 10px; margin:0px; color:#FFF !important;} /*karl added*/
.container.inetSMU-body #content .article-body h2.smutab-active { padding: 10px 10px !important; color:#FFF !important; }
.container.inetSMU-body #content .article-body h2.resp-accordion .resp-arrow { margin-top: 7px; }
.container.inetSMU-body #content { margin-top: 10px} /*only for 768 karl*/
.media, .media .media { margin-top:0px;} /*only for 768 karl*/


.smu-vtabs .smutab-content { border: 1px solid #C1C1C1; }
.smu-vtabs .smu-tabs-container { border: none; float: none; width: 100%; min-height: initial; clear: none; }
.resp-accordion-closed { display:none !important; }
.smu-vtabs .smutab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

/*----------------------------------
VERTICAL TABS (Tablet & Mobile) (max-width: 768px)
----------------------------------*/
h2.resp-accordion {
margin: 0px;
/* Fixed sidebar accordion h2 padding for check queue */
/*padding: 0px 15px*/
}


h2.smutab-active { /* padding: 0px 15px !important; */ }
.resp-arrow { margin-top: 16px; }
}


/*----------------------------------
ACCORDION GENERIC
----------------------------------*/
#accordion_generic { /*background-color:#999;*/}
#accordion_generic .accordion_wrapper { border: 1px solid #ccc;}
#accordion_generic .accordion_wrapper h3 { text-transform:uppercase; color:#FFF;}

#accordion_generic .middle .bullet-arrow { padding:12px 12px 12px 15px; margin:0;}
#accordion_generic .accordion_wrapper .bullet-arrow ul { list-style-type: none; padding: 0; margin: 0; text-align: right; color:#333;  }
#accordion_generic .accordion_wrapper .bullet-arrow li { background-image: url(img/arrow_list_small.png); background-repeat: no-repeat; background-position:0px; padding: 5px 0px 0px 10px; padding-bottom:5px; list-style-type: none; color:#333;}

#accordion_generic .middle { background-color:#FFFFFF; /*width: 300px;*/ padding: 0px; margin: 0px; border:thin 1px #999;}

/* Collapsible */
.accordion_generic{ clear:both; position:relative; margin:0 0 2em; /*margin:.5em 0 2em*/ padding:1.5em 0 0; /*padding:1.5em 1.5em .75em;*/  /*border:1px solid #d2d2d2;*/ /*overflow:hidden;*/ }
.accordion_generic a {padding:1px; border:1px dotted #bbc; border-width:0 0 1px}
.accordion_generic a:link, .accordion_generic a:visited {color:#2e4793; text-decoration:none}
.accordion_generic a:hover{color:#333}
.accordion_generic a:hover, .accordion_generic a:active, .accordion_generic a:focus { background-color:#f3f3f3; border-style:solid; text-decoration:none; outline:0 none }

/* Collapsible - Expand */
.accordion_generic .expand {clear:both; margin:0; text-indent:10px}
/*.accordion_generic .expand a {display:block; padding:3px 10px}*/
.accordion_generic .expand a:link, .expand a:visited { /*border-width:1px;*/ padding:4px 0; background-image:url(img/icon_plus.png); background-repeat:no-repeat; background-position:98% 50%; background-color:#969696; color:#FFF; }
.accordion_generic .expand a:hover, .expand a:active, .expand a:focus {outline-color:#dedede}
.accordion_generic .expand a:link.open, .expand a:visited.open {background:url(img/icon_minus.png) no-repeat scroll 98% 50% #102b72; color:#FFF;}
.add_collapsible .accordion_generic{visibility:hidden } /* for JS */

/* Collapsible - Collapse */
.collapse p {margin:0 11px 1em}
.collapse {margin-bottom:0em; overflow:hidden}


/*----------------------------------
ACCORDION BOOTSTRAP HACK
----------------------------------*/
.panel-heading { padding-left:10px; background-color:#f5f5f5;}
.panel-heading a {background-color:#f5f5f5; display:block;}
.container.inetSMU-body #content .article-body h4 { font-size:1.6em !important}


/*----------------------------------
ACCORDION CONTENT
----------------------------------*/
.accordion-group { margin-bottom: 0; }
.accordion-heading .accordion-toggle { padding: 0; background: #ffffff; color: #f5f5f5; /*00467f*/
  -webkit-box-shadow: 0 1px 3px rgba(52, 51, 49, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(52, 51, 49, 0.3);
  box-shadow: 0 1px 3px rgba(52, 51, 49, 0.3);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; padding: 0 12px 0 0; text-transform: none; display: inline-block; line-height: 20px; border: none; margin: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-weight: bold; display: block; line-height: 40px; font-size: 18px; }
.accordion-heading .accordion-toggle.block-link{ display: block; *zoom: 1; }
.accordion-heading .accordion-toggle.block-link:before,
.accordion-heading .accordion-toggle.block-link:after { display: table; content: ""; line-height: 0;
}
.accordion-heading .accordion-toggle.block-link:after { clear: both; }
.accordion-heading .accordion-toggle.block-link i { float: left; }
.accordion-heading .accordion-toggle:hover { background: #f5f5f5; color: #ffffff; text-decoration: none; text-shadow: none; }

.accordion-heading .accordion-toggle i,
.accordion-heading .accordion-toggle [class*=" icon-"] { background: #f5f5f5; color: #666; font-style: normal; font-weight: 100;
  -webkit-border-radius: 2px 0 0 2px; -moz-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px; height: 20px; width: 20px; display: inline-block; line-height: 20px; text-align: center; margin: 0; padding: 0; margin-right: 8px; }
.accordion-heading .accordion-toggle i.default:before,
.accordion-heading .accordion-toggle [class*=" icon-"].default:before { content: "\f067"; font-family: 'FontAwesome'; }
.accordion-heading .accordion-toggle.i-right { padding: 0 0 0 12px; }
.accordion-heading .accordion-toggle.i-right i,
.accordion-heading .accordion-toggle.i-right [class*=" icon-"] { margin-right: 0; margin-left: 8px; -webkit-border-radius: 0 2px 2px 0; -moz-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; }
.accordion-heading .accordion-toggle.large { line-height: 38px; }
.accordion-heading .accordion-toggle.large i { height: 38px;line-height: 40px; width: 38px; font-size: 22px; vertical-align: top; }
.accordion-heading .accordion-toggle i { height: 40px; line-height: 45px; width: 39px; font-size: 14px; }
.accordion-inner { background: #ffffff; }
.accordion-heading {height:42px; } /*karl added*/



/* --------------------------------------------------
 * About / Subapage
 *-------------------------------------------------- */
.section-menu ul.nav-list { padding: 0; margin: 0; text-align: right; }
.section-menu ul.nav-list li { margin-right: 1px; }
.section-menu ul.nav-list li a { color: #00467f; font-size: 18px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; font-weight: bold; border: none; margin: 0;
  padding: 8px 25px 8px 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; text-shadow: none; }
.section-menu ul.nav-list li a:hover { background: #f5f5f5; }
.section-menu ul.nav-list li a i { font-size: 14px; }
.section-menu ul.nav-list li a small { display: block; font-weight: normal; color: #343331; font-size: 12px; }
.section-menu ul.nav-list li.active { margin-right: -10px; background: url(img/misc/icon_section-menu-active.png) right center no-repeat; padding-right: 10px; }
.section-menu ul.nav-list li.active a,
.section-menu ul.nav-list li.active a:hover { color: #ffffff; margin: 0; background: #212324; padding-right: 25px; }
.section-menu ul.nav-list li.active a small,
.section-menu ul.nav-list li.active a:hover small { color: #ababab; }


/* --------------------------------------------------
 * Most Visited Links
 *-------------------------------------------------- */
.ms-webpart-titleText { margin: 10px 0 7px 0; font-size:27.3px  !important; font-weight:bold !important; text-shadow:0px 1px 0px #fff; letter-spacing: -1px; font-family: "proxima-nova-extra-condensed",sans-serif !important; line-height: 1em;  zoom:1; color:#102b72 !important; }
.cbs-Item, .cbs-diagnostic-Container { padding-bottom:0 !important;  /*font-size:13px !important;*/ color:#333;}
.cbs-Item a { padding-bottom:0 !important;  color:#333; white-space:normal;}

/*for HRTEST*/
#ctl00_ctl38_g_3496224f_9675_456f_bafd_689db6e64bda_csr, #ctl00_ctl47_g_be1354d6_b2dd_4462_a373_6a907a754a4f_csr { border: 1px solid #cdcdcd !important; padding:9px 8px 9px 9px !important; background-color:#FFF;}

/*for HR ask Hui fen to add custom webpart ID*/
.content-home { padding: 20px 0 20px 0;}

#content-inner{ padding-bottom:20px;}
#content #WebPartWPQ2 { border: 1px solid #cdcdcd !important; padding:9px 8px 9px 9px !important; background-color:#FFF; }

#content #WebPartWPQ2 a {color:#333;}

ul.cbs-List { margin: 0px !important; padding: 0 !important; color: #333 !important;}
ul.cbs-List li { padding:0; margin: 0 !important; }

.cbs-Thumbnail { display:none;} /*temporary hide icon*/
.cbs-Item {
	line-height:175%;
	background-image:url('/_catalogs/masterpage/inetSMU/img/arrow_blue.png');
	background-repeat:no-repeat;
	/*background-position:left 9px center;*/
	background-position:left 10px top 8px;
}

.ms-webpart-chrome-title { margin-bottom:-5px !important;} /*to remove space*/
.cbs-picture3LinesContainer, .cbs-Detail { padding:0px !important;} /*hack the padding for the list*/


/* --------------------------------------------------
 * Misc Pages
 *-------------------------------------------------- */
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small { display: block; font-weight: 300; font-size: 16px; color: #696762; }
.lead { margin: 1em 0; }
.fancy { font-family: serif; font-style: italic; }
.i-float { *zoom: 1; }
.i-float:before,
.i-float:after { display: table; content: ""; line-height: 0; }
.i-float:after { clear: both; }
.i-float i,
.i-float span { float: left; text-align: left; width: 14%; display: block; }
.i-float span { width: 84%; }
.title { font-weight: 700; }
.more-link {
  background: #ffffff; color: #00467f; -webkit-box-shadow: 0 1px 3px rgba(52, 51, 49, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(52, 51, 49, 0.3); box-shadow: 0 1px 3px rgba(52, 51, 49, 0.3);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px; border-radius: 2px; padding: 0 12px 0 0; text-transform: none; display: inline-block; line-height: 20px; border: none; margin: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; font-weight: bold;
}
.more-link.block-link { display: block; *zoom: 1; }
.more-link.block-link:before,
.more-link.block-link:after { display: table; content: ""; line-height: 0; }
.more-link.block-link:after { clear: both; }
.more-link.block-link i { float: left; }
.more-link:hover { background: #00467f; color: #ffffff; text-decoration: none; text-shadow: none; }
.more-link i,
.more-link [class*=" icon-"] { background: #00467f; color: #ffffff; font-style: normal; font-weight: 100; -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px; height: 20px; width: 20px; display: inline-block; line-height: 20px; text-align: center; margin: 0; padding: 0; margin-right: 8px; }
.more-link i.default:before,
.more-link [class*=" icon-"].default:before { content: "\f067"; font-family: 'FontAwesome'; }
.more-link.i-right { padding: 0 0 0 12px; }
.more-link.i-right i,
.more-link.i-right [class*=" icon-"] { margin-right: 0; margin-left: 8px; -webkit-border-radius: 0 2px 2px 0; -moz-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; }
.more-link.large { line-height: 38px; }
.more-link.large i { height: 38px; line-height: 40px; width: 38px; font-size: 22px; vertical-align: top; }
.btn.more-link { background: #ffffff; color: #00467f;
  -webkit-box-shadow: 0 1px 3px rgba(52, 51, 49, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(52, 51, 49, 0.3);
  box-shadow: 0 1px 3px rgba(52, 51, 49, 0.3);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px; border-radius: 2px; padding: 0 12px 0 0; text-transform: none; display: inline-block; line-height: 20px; border: none; margin: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; font-weight: bold;
}
.btn.more-link.block-link { display: block; *zoom: 1; }
.btn.more-link.block-link:before,
.btn.more-link.block-link:after { display: table; content: ""; line-height: 0; }
.btn.more-link.block-link:after { clear: both; }
.btn.more-link.block-link i { float: left; }
.btn.more-link:hover { background: #00467f; color: #ffffff; text-decoration: none; text-shadow: none; }
.btn.more-link i,
.btn.more-link [class*=" icon-"] { background: #00467f; color: #ffffff; font-style: normal; font-weight: 100; -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px; height: 20px; width: 20px; display: inline-block; line-height: 20px; text-align: center; margin: 0; padding: 0; margin-right: 8px; }
.btn.more-link i.default:before,
.btn.more-link [class*=" icon-"].default:before { content: "\f067"; font-family: 'FontAwesome'; }
.btn.more-link.i-right { padding: 0 0 0 12px; }
.btn.more-link.i-right i,
.btn.more-link.i-right [class*=" icon-"] { margin-right: 0; margin-left: 8px; -webkit-border-radius: 0 2px 2px 0; -moz-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; }
.btn.more-link.large { line-height: 38px; }
.btn.more-link.large i { height: 38px; line-height: 40px; width: 38px; font-size: 22px; vertical-align: top; }
#footer .more-link { vertical-align: top; }


.block { padding: 40px 0 20px 0; }
.block:first-child { padding: 20px 0 20px 0; }
.focus-block { border-bottom: 1px solid #00467f; background: #f2f2f2; padding: 1px 12px 0px 12px; margin: 1em 0; }
.focus-block h1:first-child,
.focus-block h3:first-child,
.focus-block h3:first-child,
.focus-block h4:first-child,
.focus-block h5:first-child { margin-top: 0; }
.focus-block p { font-size: 1.4em; font-weight: 100; }
.uc { text-transform: uppercase; }
.row-fluid [class*="span"].row-first {
  margin-left: 0;
}
.sidebar { min-height: 450px; padding: 3em 0 0 0; background: url(img/misc/bg_sidebar-left.png) right 10% no-repeat; }
.sidebar.sidebar-right { background: url(img/misc/bg_sidebar-right.png) left 10% no-repeat; }
.sidebar .inner { padding: 2em; }
.sidebar .block { margin-bottom: 2em; padding: 0; }
ul.inline > li:first-child { padding-left: 0; }
.de-em { color: rgba(51, 51, 51, 0.8); }
a .de-em { color: inherit; }
.hero .de-em { color: rgba(255, 88, 33, 0.8); }
.em { color: #00467f; }
.pad-right { padding-right: 0.5em; }
.pad-left { padding-left: 0.5em; }
.pad-right-large { padding-right: 1.5em; }
.pad-left-large { padding-left: 1.5em; }
.pad-right-xlarge { padding-right: 3em; }
.pad-left-xlarge { padding-left: 3em; }
small img { max-width: 50px; }


.inline-el { display: inline-block; }
.inline-el h1,
.inline-el h2,
.inline-el h3,
.inline-el h4,
.inline-el h5,
.inline-el p { margin: 0; }
.well-small { padding: 9px; }
.well-mini { padding: 5px; }
.badge.badge-large,
.label.badge-large,
.badge.label-large,
.label.label-large { padding: 4px 8px; font-size: 14px; }
.badge.badge-xlarge,
.label.badge-xlarge,
.badge.label-xlarge,
.label.label-xlarge { padding: 8px 12px; font-size: 18px; }

/* Utilities */
.primary-colour { color: #00467f; }
.primary-colour-bg { background-color: #00467f; }
.primary-colour-bg-50 { background-color: rgba(255, 88, 33, 0.5); }
.primary-colour-bg-80 { background-color: rgba(255, 88, 33, 0.8); }
.white-80 { color: rgba(255, 255, 255, 0.8); }
.white-60 { color: rgba(255, 255, 255, 0.6); }
.white-40 { color: rgba(255, 255, 255, 0.4); }
.pull-right { text-align: right; }
.pull-center { text-align: center; }
.space-reset { line-height: 1; padding: 0; margin: 0; }
.margin-top-small { margin-top: 0.5em; }
.margin-top-medium { margin-top: 1em; }
.margin-top-large { margin-top: 2em; }
.bordered-top-small { margin-top: 0.5em; padding-top: 0.5em; border-top: 1px solid rgba(204, 204, 204, 0.7); }
.bordered-top-medium { margin-top: 1em; padding-top: 1em; border-top: 1px solid rgba(204, 204, 204, 0.7); }
.bordered-top-large { margin-top: 2em; padding-top: 2em; border-top: 1px solid rgba(204, 204, 204, 0.7); }
.margin-bottom-small { margin-bottom: 0.5em; }
.margin-bottom-medium { margin-bottom: 1em; }
.margin-bottom-large { margin-bottom: 2em; }

.bordered-bottom-small { margin-bottom: 0.5em; padding-bottom: 0.5em; border-bottom: 1px solid rgba(204, 204, 204, 0.7); }
.bordered-bottom-medium { margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid rgba(204, 204, 204, 0.7); }
.bordered-bottom-large { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid rgba(204, 204, 204, 0.7); }
ul.big-list { font-size: 1.2em; padding: 0; margin: 0; }
ul.big-list li {
  list-style: none;
  margin: 0;
  padding: 0.5em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
  border-color: rgba(204, 204, 204, 0.6);
}
ul.big-list li:hover {
  background: #ededed;
}
.sidebar ul.big-list {
  font-size: 1em;
}
.secondary-nav {
  margin: 0;
  padding: 0;
}
.secondary-nav li a {
  margin: 0 0 1px 0;
  padding: 8px 0.5em;
  background: rgba(255, 88, 33, 0.05);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(255, 88, 33, 0.1);
}
.secondary-nav li a i {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.secondary-nav li a:hover {
  background: rgba(255, 88, 33, 0.1);
}
.secondary-nav li a:hover i {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.secondary-nav li.active a {
  background: #00467f;
}
.secondary-nav li ul {
  margin: 0 0 1px 0;
  padding: 8px 1em;
  border: 1px solid rgba(255, 88, 33, 0.3);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background: rgba(255, 88, 33, 0.1);
}
.popover-title {
  font-size:21px !important;
  font-weight: bold;
}
.popover-content {
  font-size: 13px;
  font-weight: normal;
  color:#333;
}
.accordion-primary .accordion-group {
  margin-bottom: 1px;
  border: 1px solid rgba(255, 88, 33, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(255, 88, 33, 0.05);
}
.accordion-primary .accordion-group:hover {
  background: rgba(255, 88, 33, 0.1);
}
.accordion-primary .accordion-inner {
  border-top: 1px solid rgba(255, 88, 33, 0.2);
}
.background-clip-fix {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.overlay-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}
.overlay-wrapper.overlay-wrapper-bordered {
  border-bottom: 5px solid transparent;
}
.overlay-wrapper.overlay-wrapper-bordered:hover {
  border-bottom: 5px solid #00467f;
}
.overlay-wrapper .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 100;
  display: block;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all 220ms ease-out;
  -moz-transition: all 220ms ease-out;
  -o-transition: all 220ms ease-out;
  transition: all 220ms ease-out;
  text-align: center;
  padding: 5% 0;
  color: #343331;
}
.overlay-wrapper .overlay.on {
  top: 0;
}
.overlay-wrapper .underlay {
  z-index: 99;
}
.overlay-wrapper:hover .overlay {
  top: 0;
  background: transparent;
}
.hidden {
  visibility: hidden;
  display: none;
}
.i-primary {
  color: #00467f;
}

/*Flex Slider*/

/*
.flexslider .slides > li:first-child {display: block; -webkit-backface-visibility: visible;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;}

.flexslider .slides > li a img{visibility:visible !important; opacity:1 !important;filter:alpha(opacity=100) !important;}

.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;}
.flexslider .slides > li:not(:first-child)

.flexslider .slides > li {display: block; }
*/

/*
.flexslider { height: 240px;  }
.flexslider img { display: none;  }
*/

.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */



.flex-direction-nav a { text-indent: 0; font-size: 0; background: #343331; width: 40px; height: 75px; line-height: 75px; color: #ffffff; text-align: center;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px; }
.flex-direction-nav a:before { content: '\f105'; font-family: 'FontAwesome'; font-size: 32px; }
.flex-direction-nav a.flex-prev { -webkit-border-radius: 0 2px 2px 0; -moz-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; }
.flex-direction-nav a.flex-prev:before { content: '\f104'; }
.flex-direction-nav a:hover { text-decoration: none; }
.flex-control-nav { bottom: -28px; right: 139px; width: auto; }
.flex-control-nav li { margin: 0 3px; }
.flex-control-nav li a { -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; height: 14px; width: 14px; border: 2px solid #464b4d; background: transparent; }
.flex-control-nav li a.flex-active { border-color: #ffffff; }
.flexslider-carousel { position: relative; }
.flexslider-carousel .flex-direction-nav a { opacity: 0.8; filter: alpha(opacity=80); background: #00467f; width: 30px; height: 50px; line-height: 50px; top: 40%; }
.flexslider-carousel .flex-direction-nav a:hover { opacity: 1; filter: alpha(opacity=100); }
.flexslider-carousel .flex-direction-nav a.flex-prev { left: 0; }
.flexslider-carousel .flex-direction-nav a.flex-next { right: 0; }
.flexslider .slides img { width: auto; display: inline; }
.slide img,
/* Wilson - set banner visible */
.slide .caption {  opacity: 1; filter: alpha(opacity=1); /*-webkit-transition: all 0.8s ease-out; -moz-transition: all 0.8s ease-out; -o-transition: all 0.8s ease-out; transition: all 0.8s ease-out;*/ }
.slide .caption { /*-webkit-transition: all 1s ease-out; -moz-transition: all 1s ease-out; -o-transition: all 1s ease-out; transition: all 1s ease-out;*/ }
.slide.animate-in img,
.slide.animate-in .caption { opacity: 1; filter: alpha(opacity=100); }
h1.enlarge { font-size: 48px; /*52.5px*/ letter-spacing:-2px; margin-bottom:10px; /*width:480px;*//*karl*/}
h2.enlarge { /*font-size: 40px;  font-weight:600;*/ text-transform:uppercase; /*kaka ad*/ font-family: 700 26px/24px "proxima-nova-extra-condensed",sans-serif; letter-spacing: 1px; }
h3.enlarge { font-size: 38.5px; }
h4.enlarge { font-size: 31.5px; }
h5.enlarge { font-size: 14px; }
h6.enlarge { font-size: 25.900000000000002px; }
.img-wrap { float: left; margin: 0 2em 1em 0; } /*0 1em 1em 0 debug*/
.img-wrap figcaption { font-size: 0.9em; font-weight: normal; }
li .i-circle,
.i-circle { border: 1px solid #00467f; -webkit-border-radius: 800px; -moz-border-radius: 800px; border-radius: 800px; padding: 8%; width: 1.05em; }
.btn { text-shadow: none; }
.btn-shadow { -webkit-box-shadow: 0 1px 5px #969696; -moz-box-shadow: 0 1px 5px #969696; box-shadow: 0 1px 5px #969696; }
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f4511e;

  border-color: #00467f #00467f #9e3111;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #00467f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #00467f;
  *background-color: #cc3f16;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #b53814 \9;
}
.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #318b20;
  background-image: -moz-linear-gradient(top, #1b7b00, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1b7b00), to(#51a351));
  background-image: -webkit-linear-gradient(top, #1b7b00, #51a351);
  background-image: -o-linear-gradient(top, #1b7b00, #51a351);
  background-image: linear-gradient(to bottom, #1b7b00, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1b7b00', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;

  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-inverse {
  color: #ffffff !important;
  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
  background-color: #1f1f1d;

  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);



}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #000000;
  *background-color: #000000; }
.btn-inverse:active,
.btn-inverse.active {
  background-color: #000000;  }

.slide a.btn:visited, .slide a.btn:active, .slide a { color:#fff !important; }

#homelinks li { list-style-image: url('/Style%20Library/Images/arrow_list_small.png'); }
#emailHomelinks li { list-style-image: url('/Style%20Library/Images/icon_smaller_email.png');}

#HelpCentre-wrap {
border: 1px solid #ccc;
display: block;
padding: 9px 8px 9px 9px !important;
background-color: #fff; }


.HelpCentre_category
{
background-color:#E6E6E6;
font-weight:bold;font-size:16px;
padding-left:8px; /*iits karl added*/
}


.HelpCentre_Image
{
width:100%;
height:auto;
}


/* Check Queue */
.smu-tabs-container.checkqueue .smutab-content-wrapper{
	border-bottom:none;
}
.queue-table{
	width: 100%;
	background: none;
}

.queue-table #refresh-page{
	padding:3px 10px;
}
.queue-table th{
	text-align: left;
}

.queue-table .LAST_REFRESHED{
	color:#999;
	font-size:12px;
	display: block;
	margin:5px 0;
}

.queue-table #btnRefreshPage{ display: none; }

.queue-table #gvServiceRequestListing td,
.queue-table #gvServiceRequestListing th{
	color:#666;
	border:1px solid #fff;
}
/* /Check Queue */



.link-create-ticket:hover .create_ticket_bg{
	background:#999 url(/_catalogs/masterpage/inetSMU/img/icon_button_create_ticket.png) left 14px top 11px no-repeat;
}
.link-create-ticket:hover, .link-create-ticket:hover > *{
	text-decoration:none;
	color:#fff
}
.create_ticket_bg {
background-image:url(/_catalogs/masterpage/inetSMU/img/icon_button_create_ticket.png);
border: 1px #CCC;
padding:6px 10px 6px 75px;
border: 1px solid #cdcdcd;
background-color:#fff;
text-decoration:none !important;
margin-bottom:6px;
background-position:left 14px top 11px;
background-repeat:no-repeat;
}

/* SYSTEM CHECK : START */
table.syscheck {

}
table.syscheck td {
	padding: 10px 20px;
}
table.syscheck td.syscheck-title {
	background: aliceblue;
}
table.syscheck td.syscheck-cell-top {
	border-top:1px solid black !important;
}
table.syscheck td.syscheck-cell-left {
	border-left:1px solid black !important;
}
table.syscheck td.syscheck-supported {
	background: green;
	color: white;
}
table.syscheck td.syscheck-notsupported {
	background: red;
	color: white;
}
div.syscheck_warningmsg {
	color: red;
}
/* SYSTEM CHECK : END */

@media (max-width: 979px) {

// <> { min-height: 20px; }
#navigation .social-media { padding: 15px 12px 0 0; }
#navigation .btn-navbar { display: block; }
#navigation .nav-collapse { border-top: 1px solid rgba(52, 51, 49, 0.15); }
#navigation .navbar .nav li.divider-vertical,
#navigation .navbar .nav li.home-link { display: none; }
#navigation .navbar .nav#main-menu { float: none; margin: 0; padding: 0; }
#navigation .navbar .nav#main-menu li { float: none; border-left: none; border-right: none; padding: 0; margin: 0; border-top: 1px solid #ffffff; border-bottom: 1px solid rgba(52, 51, 49, 0.15); }
#navigation .navbar .nav#main-menu li a,
#navigation .navbar .nav#main-menu li a:link,
#navigation .navbar .nav#main-menu li a.top-level { padding: 1% 10px; margin: 0; font-weight: normal; height: auto; line-height: normal; } /*karl padding 3% 10px*/
  #navigation .navbar .nav#main-menu li .dropdown-menu {
    background: transparent;
    margin: 0;
    padding: 0;

  }
  #navigation .navbar .nav#main-menu li .dropdown-menu li {
    margin: 0;
    border-top: none;
    border-bottom: none;
  }
  #navigation .navbar .nav#main-menu li .dropdown-menu li a,
  #navigation .navbar .nav#main-menu li .dropdown-menu li a:link {
    padding: 6px 16px; /*karl fix arrow spacing 6px 8px*/
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  #navigation .navbar .nav#main-menu li .dropdown-menu.mega-menu {
    max-width: 100%;
  }
  #navigation .navbar .nav#main-menu li .dropdown-menu.mega-menu:before,
  #navigation .navbar .nav#main-menu li .dropdown-menu.mega-menu:after {
    display: none;
  }
  #navigation .navbar .nav#main-menu li .dropdown-menu.mega-menu .mega-menu-wrapper ul {
    padding: 0.5em 0 0.5em 0;
  }
  #navigation .navbar .nav#main-menu li .dropdown-menu.mega-menu .mega-menu-wrapper li {
    float: none;
    width: auto;
    padding: 0;
  }
  #navigation .navbar .nav#main-menu li .dropdown-menu.mega-menu .mega-menu-wrapper li.menu-title {
    padding: 4px 8px;
  }
  #navigation .navbar .nav#main-menu li .dropdown-menu.mega-menu .mega-menu-footer {
    display: none;
  }
}
@media (min-width: 980px) {

}
@media (min-width: 1200px) {

}
@media (max-width: 979px) {
  #navigation .header-hidden-inner,
  #navigation .header-inner { padding-left: 20px; padding-right: 20px; }
  #navigation .navbar-inner { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
  .has-navbar-fixed-top #highlighted {
    margin-top: auto;
  }
  .i-float i {
    display: none;
  }
  .i-float span {
    width: auto;
  }

  blockquote p {
    padding: 1em;
  }
  blockquote img {
    display: none;
  }
  blockquote small {
    padding: 10px;
  }
  blockquote.right p {
    padding: 1em;
  }
  blockquote.right img {
    display: none;
  }
  blockquote.right small {
    padding-right: 10px;
    padding-left: 10px;
  }
  .page-index .flexslider-wrapper .flex-direction-nav,
  .page-index .static-banner .flex-direction-nav {
    display: none;
  }
}
@media (min-width: 940px) and (max-width: 990px) { /*960 990*/
}

@media (min-width: 768px) and (max-width: 979px) {
  #footer .pull-right {
    float: left;
    text-align:left;
    width:97%;
  }

}

@media (max-width: 767px) {
body { padding-left: 0; padding-right: 0; }
#navigation .header { height: auto; }
#navigation .header #header-hidden-link { position: absolute; top: 0; right: 10px; margin: 0; }
#navigation .header .user-menu { float: none; margin: 10px 0 0 0; text-align: center; }
#navigation .header .user-menu li { margin: 0; }
#navigation .header .user-menu li:first-child { margin-right: 10px; }
#navigation .header .brand { margin: 0 auto 0.5em auto; float: none; }
#navigation .header .slogan { width: auto; text-align: center; float: none; margin: 0; padding: 0; border: none; padding-left:56px; /*kaka ad*/ }
#highlighted .inner { padding-top:0px;} /*kaka*/


  #content,
  #content-below,
  #footer {
    padding-left: 1em;
    padding-right: 1em;
  }
  #content-below .clients .title {
    text-align: center;
    float: none;
  }
  #content-below .clients .items {
    text-align: center;
  }
  #content-below .clients .items .item {
    float: none;
    display: inline-block;
    width: 25%;
  }

  .pricing-stack .well {
    margin: 0 0 1em 0;

    width: 100%;
    float: none;
  }
  .pricing-stack.three .well {
    margin: 0 0 1em 0;
    width: 100%;
  }
  .pricing-stack.two {
    padding: 0;
  }
  .pricing-stack.two .well {
    margin: 0 0 1em 0;
    width: 100%;
  }
  .page-index .flexslider-wrapper img,
  .page-index .static-banner img {
    max-height: 200px;
  }
  .page-index .flexslider-wrapper .caption,
  .page-index .static-banner .caption {
    padding: 5%; /*kaka 5%*/
    text-align: center;
    padding-top:42px; /*karl added new*/
  }
  .page-index .flexslider-wrapper .flex-direction-nav,
  .page-index .static-banner .flex-direction-nav {
    display: none;
  }
  #footer .col {
    margin-bottom: 2em;
  }
  #footer .pull-right {
    float: left;
    text-align:left;
    width:100%;
  }
  .block {
    padding: 20px 0 20px 0;
  }
  h1 small,
  h2 small,
  h3 small {
    display: block;
  }
  .blog-list.blog-list-short .media-object,
  .blog-post.blog-list-short .media-object {
    display: none;
  }
  .blog-list .comments .media-object,
  .blog-post .comments .media-object {
    display: none;
  }
  .tab-content,
  .pill-content {
    overflow: visible;
  }
  .tab-content .tab-pane,
  .pill-content .tab-pane,
  .tab-content .pill-pane,
  .pill-content .pill-pane {
    display: block;
    margin-bottom: 2em;
  }
  .customers li a .inner-wrapper {
    height: auto;
  }
  .section-menu ul.nav-list {
    border: none;
    padding: 1em 0;
  }



}




@media (max-width: 503px) { /*Breakpoint only for Search Box position fix*/
.input-append,.input-prepend { position:absolute; top:85px; margin-bottom:10px !important; margin-left:0px !important; }
}



@media (max-width: 750px) {
/* wilson - Central align banner in mobile view */
.page-index .flexslider-wrapper .row-fluid{
	display:table-cell !important;
	float:none !important;
	vertical-align:middle;
	height:auto
}
.page-index .flexslider-wrapper .row-fluid h1.enlarge{
	font-size:32px;
}


@media (max-width: 503px) { /*inet announcement*/
/*.inetSMU_announce_details p {

width:auto;
}*/
.inetSMU_announce_detailsImage
{
width:300px !important;


}
}

@media (max-width: 750px) {
/*inet announcement*/
.inetSMU_announce_detailsImage
{
width:300px !important;


}
.media-heading_details {margin: 0 0 7px !important; line-height:27px;word-wrap: break-word !important;}
/*.inetSMU_announce_details p {
/*width:320px !important;*/
/*width:inherit;
/*}*/

.inetSMU_announce_details a {
word-wrap: break-word !important;
}

}

@media (min-width: 768px) and (max-width: 979px) {
/*inet announcement*/
.inetSMU_announce_detailsImage
{
width:400px !important;

}

/*.inetSMU_announce_details p {
width:750px !important;
}

.inetSMU_announce_details a {
word-wrap: break-word !important;
}*/
.media-heading_details {margin: 0 0 7px !important; line-height:27px;word-wrap: break-word !important;width:750px;}


}


.navbar .nav#main-menu .dropdown-menu {  right: 0; -webkit-border-radius: 0;  /*theingi fix widauto FIX NAV FOR MOBILE karl*/ }

#navigation .navbar .nav#main-menu li a.top-level { padding: 3% 10px; } /*added karl*/

#navigation .navbar .nav#main-menu li .dropdown-menu li a, #navigation .navbar .nav#main-menu li .dropdown-menu li a:link { padding: 6px 16px;}	/*fix for arrow padding*/
#navigation .navbar-inner { margin-top:26px;} /*karl fix position*/

#navigation .header .slogan { padding-left:35px;} /*kaka*/

  .blog-roll.blog-list .media-object,
  .blog-post.blog-list .media-object {
    float: none;
    margin: 0.5em 0;
  }
  .blog-roll.blog-list .media-object img,
  .blog-post.blog-list .media-object img {
    max-width: 100%;
  }
  .sidebar.siderbar-right .inner,
  .sidebar.sidebar-left .inner {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
  .form-wrapper.form-narrow {
    min-width: 200px;
    max-width: 300px;
  }
  .form-wrapper.form-medium {
    min-width: 200px;
    max-width: 5300px;
  }
  .showcase .item div.overlay,
  .showcase .item span.overlay {
    display: none;
  }
  .img-wrap {
    float: none;
  }
  #footer .pull-right {
    text-align: left;
    float: left;
    width:100%;
  }

.row-fluid .span10 {
  padding-left:0px !important ;} /*karl - hack for 3 column span 10 News content ORIG css from bootstrap*/

}


.hideDefaultBreadcrumb {
 display: none;
}

#dateHead
{
text-decoration: underline;
}

.ms-cui-topBar2 img
{
max-width:none;
}

/* Edit Bar Fix */
.ms-cui-tabContainer img
{
max-width:none;
}

/* Add Item Fix -*/
.ms-addnew img
{
max-width:none;
}

/*SHAREPOINT header*/
#suiteBarLeft { background-color:#666 !important;}

/* Calendar */
.ms-acal-apanel li ul li{
	border:1px solid #ccc;
	margin:10px 0;
}
.ms-acal-apanel span.ms-acal-apanel-item{
	background:none;
}
.ms-acal-apanel span.ms-acal-apanel-item.ms-acal-apanel-color5{
	background:#ED0033;
}
.ms-acal-apanel span.ms-acal-apanel-item.ms-acal-apanel-color3{
	background:#288054;
}
.ms-acal-apanel span.ms-acal-apanel-item.ms-acal-apanel-color6{
	background:#682A7A;
}
.ms-acal-apanel span.ms-acal-apanel-item.ms-acal-apanel-color5 span,
.ms-acal-apanel span.ms-acal-apanel-item.ms-acal-apanel-color3 span,
.ms-acal-apanel span.ms-acal-apanel-item.ms-acal-apanel-color6 span{
	 color:#fff;
}
.ms-acal-apanel span.ms-acal-apanel-item span{
	color:#0072C6;
}
.ms-acal-apanel li .ms-acal-apanel-item{
	border: none !important;
	font-size: 17px;
	margin: 0 !important;
	padding: 0;
	font-family: proxima-nova-extra-condensed;
	width: 100%;
}
.ms-acal-rootdiv div{
	 border:none;
}
.ms-acal-summary-dayrow th{
	background:#eee;
	border-left:solid 1px #c6c6c6;
}

#newfaces-viewmore {
border: 1px solid #ccc;
display: block;
padding: 9px 8px 9px 9px !important;
background-color: #fff; }

/* wilson - hide search options */
.ms-qSuggest-listItem:nth-child(2), .ms-qSuggest-listItem:nth-child(3){
	display:none;
}

/*Left nav toptitle*/
li.inner-left-menu-toptitle { font-size:20px !important; padding: 0px 0px 5px 8px;
font-family:"proxima-nova-extra-condensed",sans-serif !important;
font-weight:bold; color:#102b72; background-color:#fff !important;
}



.lastupdate, .lastupdate a {
    color: gray !important;
    font-size: 12px;
}














/*ADDED BY KARL*/
/*fix inside spacing breadcrumbs*/
@media (max-width: 767px) and (min-width: 320px) {
/*#main { padding-top: 25px !important;}*/

/*HIDE BANNER in mobile*/
.page-index .flexslider-wrapper .caption,
.page-index .static-banner .caption { display:none;  }

}


/* main header / fix for iphone portrait and landscape*/
@media (min-width: 320px) and  (max-width: 767px ) {

	/*fix and remove scrollbar*/
	body {overflow-y: scroll !important; overflow-x: hidden !important;}


	/*hide sharepoint logo*/
	.o365cs-base .o365cs-topnavBGColor, .o365cs-base.o365cst .o365cs-o365logo { display:none !important; }
	.s4-ribbonrowhidetitle { display: none; }

	/*custompage - mobile*/
	.custompage-wrapper { position:relative; }
	.custompage-wrapper .custompage { position:absolute; top:-44px !important; left:98px !important; z-index:101 !important;}

	/*nav*/
	#navigation .navbar-inner { margin-top:0px !important;}
	#navigation .navbar-inner { z-index:100; width:100%;}

	/*search box position*/
	/*.input-append,.input-prepend { position:absolute; top:110px !important; margin-bottom:10px !important; margin-left:0px !important;}*/
	.input-append,.input-prepend { position:absolute; top:10px !important; margin-bottom:10px !important; margin-left:0px !important;}

	/*search box width*/
	.input-prepend input, .input-append input, .input-prepend input[class*="span"], .input-append input[class*="span"] { width:235px; height:25px; margin:0px 0px 0px -10px;} /*width:235px*/

	/*hide ribbon css*/
	#s4-ribbonrow, #suiteBar { display : none; }
	#O365_TopMenu { display : none; }
	#suiteBarTop { display : none; }

	/*TRAINING CALENDAR FIX*/
	#smu-intranet-admin .site-title-main-wrappper .site-title-wrappper .site-title a { position:absolute; left:0px; top:0px; line-height:20px;}

	/*newsletter image hide*/
	.contentTable img { display:none;}
	.contentTable p { white-space:normal !important;}
	.article-body .ms-rte-wpbox table td, .article-body .ms-rte-wpbox table th { white-space:normal !important;}

	/*plus menu*/
	#header-hidden-link {top:22px; z-index:102; border-top: 4px solid #959595}
	.header { padding-top:10px; padding-bottom:24px;} /*added padding-botto*/

	/*iits title text*/
	.site-title-main-wrappper .site-title-wrappper .site-title {  font-size:19px !important; position:absolute; top:-11px; left:-5px; width:160px; z-index:101; line-height:18px;}	/*left:59px*/

	/*iits logo*/
	#navigation .header .brand {position:absolute; top:-15px; left:-10px; z-index:101;}/*left:54px*/

	/*sub_title and site title*/
	#mobile-search .site_sub_title { position:absolute; left:58px; top:32px; }
	#mobile-search .site-title { position:absolute; left:58px; top:10px; }

	/*show more*/
	.showmore_content { /*position: relative;*/ overflow: hidden; padding-bottom:0px; }
	.showmore_trigger { height: 25px; margin-top:12px; line-height: 25px; font-family: "proxima-nova-extra-condensed",sans-serif; zoom:1;
	cursor: pointer; background-color:#2f4b96; padding:10px; text-align:center; color:#FFF; text-transform:uppercase; font-size:17px; font-weight:bold; }
	.showmore_trigger span { display: block; }

}


/*for iphone6 plus landscape*/
@media (min-width: 414px) and  (max-width: 736px ) {

}

@media (min-width: 480px) and  (max-width: 767px ) {
	/*newsletter contents*/
	.news_announcements_wrap .contentTable { width:470px !important; text-align:center;}
	.news_announcements_wrap .contentTable .MsoNormal { white-space:normal !important; }

}

@media (max-width: 767px) {
body { padding-left: 0; padding-right: 0; }
#navigation .header { height: auto; }
#navigation .header #header-hidden-link { position: absolute; top: 0; right: 10px; margin: 0; }
#navigation .header .user-menu { float: none; margin: 10px 0 0 0; text-align: center; }
#navigation .header .user-menu li { margin: 0; }
#navigation .header .user-menu li:first-child { margin-right: 10px; }
#navigation .header .brand { margin: 0 auto 0.5em auto; float: none; }
#navigation .header .slogan { width: auto; text-align: center; float: none; margin: 0; padding: 0; border: none; padding-left:56px; /*kaka ad*/ }
#highlighted .inner { padding-top:0px;} /*kaka*/
}

@media (max-width: 503px) { /*Breakpoint only for Search Box position fix*/
.input-append,.input-prepend { position:absolute; top:85px; margin-bottom:10px !important; margin-left:0px !important; }
}

@media (max-width: 750px) {
/* wilson - Central align banner in mobile view */
.page-index .flexslider-wrapper .row-fluid{
	display:table-cell !important;
	float:none !important;
	vertical-align:middle;
	height:auto
}
.page-index .flexslider-wrapper .row-fluid h1.enlarge{ font-size:32px;}
}


/*custompage - desktop*/
.custompage-wrapper { position:relative; margin-top:5px;} /*karl added margin*/
.custompage-wrapper .custompage { position:absolute; top:68px; right:43px;}
.site_sub_title  { position:absolute; top:22px; left:39px; color:#fff; font-size:12px;}


/* custompage - after mobile landscapte and before ipad*/
@media (min-width: 768px) and  (max-width: 1200px) { /*(max-width: 980px)*/
	/*custompage mobile*/
	.custompage-wrapper { position:relative;}
	.custompage-wrapper .custompage { position:absolute; top:-1px !important; right:262px !important; z-index:101 !important;}

	/*Fix span6 and span3 karl*/
	.right-col .smu-tabs-list li, .left-col .smu-tabs-list li {padding: 10px 8px; font-size:10px;}
	.right-col .inetSMU_news_wrapper .media-body, .left-col .inetSMU_news_wrapper .media-body { padding-left:43px;}

}


@media (min-width: 980px) and  (max-width: 1200px) {
/*top application 1024k down to */
#inetSMU_top_applications_wrapper { padding-left:23px !important;}
.HelpCentre_Image { width:200px; /*255*/ height:94px; /*120*/ }
}





.TableWH
    {
        display: table;
width:100%;
    }
    .Title
    {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
    .HeadingWH
    {
        display: table-row;
        font-weight: bold;
        text-align: center;
width:100%;
line-height:35px;
    }
    .RowWH
    {
        display: table-row;
width:100%;
    }

 .CellCourses
    {
        display: table-cell;
width:100%;
    }

    .CellTrainTitle
    {
        display: table-cell;

        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
padding-bottom:7px;
text-align: left;

word-wrap: break-word;
width:60%;
    }

.CellTrainDate
    {
        display: table-cell;

        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
padding-bottom:7px;
text-align: left;

word-wrap: break-word;
width:20%;
    }

 .CellTrainAction
    {
        display: table-cell;

        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
padding-bottom:7px;
text-align: left;

word-wrap: break-word;
width:20%;
    }

  .CellCDTitle
    {
        display: table-cell;

        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
padding-bottom:7px;
text-align: left;

word-wrap: break-word;
width:50%;
    }

.CellCDDate
    {
        display: table-cell;

        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
padding-bottom:7px;
text-align: left;

word-wrap: break-word;
width:25%;
    }

 .CellCDWeek
    {
        display: table-cell;

        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
padding-bottom:7px;
text-align: left;

word-wrap: break-word;
width:20%;
    }

/*Feedback Survey Monkey*/
.feedback a {  display: block;
  background: #2f4b96;  height: 17px;
  width: 70px;  padding: 8px 18px 8px 10px;
  color: #fff;  font-family: Arial, sans-serif;  font-size: 17px;  font-weight: bold;  text-decoration: none;
  /*border-bottom: solid 1px #333;*/ border-left: solid 1px #333; border-right: solid 1px #fff; }
.feedback a:hover {  background: #102b72;  }
.feedback {
  height: 104px;  width: 104px;  position: fixed;  top: 60%; right:-70px;  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

/*Ribbon*/
.ribbon-wrapper-ewise { width: 85px; height: 88px; overflow: hidden; position: absolute; top: 65px; right: -3px; z-index:99999; }
.ribbon-ewise { font: bold 14px Sans-Serif; color: #333; text-align: center; text-shadow: rgba(255,255,255,0.5) 0px 1px 0px; -webkit-transform: rotate(45deg); -moz-transform:    rotate(45deg); -ms-transform:     rotate(45deg); -o-transform:      rotate(45deg); position: relative; padding: 7px 0; left: -5px; top: 15px; width: 120px;

/*yellow*/
background: rgba(252,234,187,1);
background: -moz-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,234,187,1)), color-stop(50%, rgba(252,205,77,1)), color-stop(51%, rgba(248,181,0,1)), color-stop(100%, rgba(251,223,147,1)));
background: -webkit-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: -o-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: -ms-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: linear-gradient(to right, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );
color: #6a6340; -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);-moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3); box-shadow: 0px 0px 3px rgba(0,0,0,0.3);


.ribbon-ewise:before, .ribbon-ewise:after { content: ""; border-top: 3px solid #bbb; border-left:  3px solid transparent; border-right: 3px solid transparent; position:absolute; bottom: -3px;  }
.ribbon-ewise:before { left: 0; }
.ribbon-ewise:after { right: 0; }
}
