// Webpart generic styles
.webpart-clean{
  padding: 0;
  background: none;
  border: none;
}

.webpart-panel{
  border: 1px solid #cdcdcd;
  padding: 9px 8px 9px 9px;
  background-color: #FFF;
}

.ms-webpartzone-cell{
  .ms-WPBody{
    @extend .webpart-clean;
  }
}

// Webparts
.wp-find-faculty-amp-staff,
.wp-most-popular-pages,
.wp-useful-teaching-contacts,
.wp-teaching-services,
.wp-course-reading-distribution,
.wp-facilities-booking,
.wp-facilities-booking,
.wp-student-admin-services,
.wp-eis-request-system,
.wp-facilities-booking,
.wp-library-resources-amp-support,
.wp-research-matters,
.wp-research-it-support,
.wp-research-highlights,
.wp-admin-forms,
.wp-po-management,
.wp-corporate-communications,
{
  .ms-WPBody{
    @extend .webpart-panel;
  }
}
