.webpart-listings{
	font-family: "myriad-pro",sans-serif;
	background: #fff;

	.filter-wrapper{
		.filter{
			width: 100%;
			padding: 5px;
		}
	}

	.viewall-wrapper{
		.viewall{
		  color: #666;
		  background: #ddd;
		  text-decoration: none;
		  padding: 10px 0;
		  display: block;
		  border: 1px solid #ccc;
		  width: 100%;
		  text-align: center;
		  font-size: 14px;
		  &:hover{
		  	background:#ccc;
		  }
		}
	}


	.pad10{
		padding: 10px 10px 0 10px;
	}

	ul{
		margin-left:0;
		padding-left:0;
		li{
			list-style: none;
			padding: 0 0 10px 0;
			margin-bottom: 10px;

			font-size: 13px;
			border-bottom:1px solid #eee;
			&:last-child{
				border-bottom:none;
				margin-bottom: 0;
			}
			.picture{
				img{
					max-width: 194px;
					width: 100%;
					height: auto;
				}
			}
			.node-title{
				font-weight: bold;
				text-transform: uppercase;
				margin: 5px 0 5px 0;
				color:#102b72;

			}

			.node-content{

			}
			.content-inner{
				margin-right: 20px;
			}

			.date{
				color: #999;
				margin-bottom: 10px;

			}
			.readmore{
/*				text-align: right;
				margin-top: 10px;
				color:#102b72;
				text-decoration: underline;
				float:right;*/
				color:#666;

				&:hover{
					text-decoration:none;
					color:black;
				}
			}
		}
	}



	.list-actions{
		border-top:1px solid #eee;
		.pagination{
			text-align: right;
			margin:0;
			.btn{
				border:1px solid #bbbbbb;
			}
		}

		.btn-link{
			color: #102b72;
			border: 1px solid #8691B0;
			text-decoration: none;
			&:hover{
				background:#e2e8f8;
			}
		}
	}


	.loading{
		text-align: center;
		color:#999;
		min-height: 240px;
		background: url(https://www.smu.edu.sg/sites/default/files/smu/assets/loader.gif) center no-repeat;
		width:100%;
		float:none;
		display: block;
		margin:0;
	}
	.fl{ float:left; }
	.fr{ float:right;}
}

.webpart-listings.events{
	.iCalThumbMain{
		font-family: "proxima-nova-extra-condensed",sans-serif;
		background-color: #102B72;
		color: white;
		height: 85px;
		width: 72px;
		text-align:center;
		display: table-cell;
		vertical-align: middle;
		text-transform: uppercase;
	}
}
