.wp-faculty-expertise-amp-publications{
  .research-container{
  	.smutab-content{
  		padding: 10px;
  	}
  }
  .webpart-faculty{

  	width:100%;
  	background: #fff;
  	float:left;
  	/*font-family:"proxima-nova-extra-condensed",sans-serif;*/
  	font-family: "myriad-pro",sans-serif;
  	font-size:1em;

  	.breadcrumbs li{ display: inline-block; }
  	.research-areas, .faculties{
  	  float:left;
  	}
  	.research-areas{
  	  width: 320px;
  	}

  	.bg-soa{
  		background: #971430;
  	}
  	.bg-lkcsb{
  		background: #025a99;
  	}
  	.bg-sis{
  		background: #d5a10d;
  	}
  	.bg-socsc{
  		background: #006634;
  	}
  	.bg-soe{
  		background: #006c85;
  	}
  	.bg-sol{
  		background: #562577;
  	}

  	.color-soa{
  		color: rgba(151, 20, 48, 1);
  		color:#971430;
  		&:hover{
  			background:#971430;
  		}
  	}
  	.color-lkcsb{
  		color: rgba(2, 90, 153, 1);
  		color:#025a99;
  		&:hover{
  			background:#025a99;
  		}
  	}
  	.color-sis{
  		color: rgba(213, 161, 13, 1);
  		color:#d5a10d;
  		&:hover{
  			background:#d5a10d;
  		}
  	}
  	.color-socsc{
  		color: rgba(0, 102, 52, 1);
  		color:#006634;
  		&:hover{
  			background:#006634;
  		}
  	}
  	.color-soe{
  		color: rgba(0, 108, 133, 1);
  		color:#006c85;
  		&:hover{
  			background:#006c85;
  		}
  	}
  	.color-sol{
  		color: rgba(86, 37, 119, 1);
  		color:#562577;
  		&:hover{
  			background:#562577;
  		}
  	}

  	.school{
  		a{
  			text-decoration: none;
  			border-bottom:1px solid #eee;
  			padding:8px 0;
  			text-indent: 10px;
  			float:left;
  			width:100%;

  			&:hover{
  				color:#fff;
  			}
  		}

  		&:last-child a{ border-bottom:none; };
  	}

  	.research-areas{
  		width:40%;
  		margin-bottom: 10px;

  		.school-title{
  			font-size:20px;
  			line-height: 1em;
  			margin-bottom:0.5em;
  			&:hover{
  				background:none;
  			};
  		}

  		ul{
  			padding-left:0;
  			margin:0;
  			li{
  				list-style: none;
  				a{
  					display: block;
  					color:#fff;
  					padding: 5px 10px;
  					margin-bottom: 1px;
  					font-weight: 300;
  					font-size:0.9em;
  					text-decoration: none;
  					outline: none;
  				}
  				li{
  					a{
  						background: none;
  						color:#666;
  						border-bottom:1px solid #eee;
  						margin-bottom: 0;
  						&:hover{
  							background:#eee;
  							color:#000;
  						}
  					}
  					&.active{
  						a{
  							background: #eee;
  							color:#000;
  						}
  					}
  				}
  			}
  		}
  	}

  	.faculties{
  		width:60%;
  		margin-bottom: 10px;
  		font-size:0.9em;
  		.faculties-inner{
  			padding-left: 20px;
  			padding-right: 10px;

  			h2{
  				font-size:20px;
  				line-height: 1em;
  				margin-bottom:0.5em;
  			}
  		}

  		.updated-profiles{
  			border-bottom: 1px solid #ddd;
  		}

  		ul{
  			padding-left: 0;
  			margin: 0;
  			li{
  				list-style: none;
  				margin-bottom: 20px;
  			}
  		}

  		.faculty{
  			.photo{
  				margin-bottom: 5px;
  				margin-right:10px;
  				float:left;
  				img{
  					max-width: 65px;
  				}
  			}
  			.designation{
  				max-width: 200px;
  			}
  			.details{
  				float:left;
  			}
  			.email{
  				text-decoration: underline;
  				margin-top:5px;
  			}
  			.name a{
  				font-weight: bold;
  				color:#00467F;
  				&:hover{
  					color:#00467F;
  					text-decoration:underline;
  				}
  			}
  		}

  		.faculty-thumbs{
  			margin-top: 10px;
  			float: left;
  			width: 100%;

  			ul{
  				margin-top: 5px;
  			}

  			.profile{
  				list-style: none;
  				width:30px;
  				height:35px;
  				overflow: hidden;
  				float:left;
  				margin:0 1px 1px 0;
  				img{
  					width: 100%;
  				}
  			}
  		}

  		.view-other{
  			color: #666;
  			font-weight: bold;
  			font-size: 1em;
  	/*		padding-top: 10px;
  			float: left;
  			width: 100%;*/
  			&:hover{
  				color:#000;
  			}
  		}

  		.view-all{
  			color: #666;
  			text-decoration: underline;
  			font-size: 1em;
  			padding-top: 10px;
  			float: right;
  			width: 100%;
  			text-align: right;
  			&:hover{
  				color:#000;
  			}
  		}
  	}

  	.breadcrumbs{
  		.back{
  			color: #999;
  			font-size: 0.9em;
  			text-decoration: underline;
  			background: url('/_catalogs/masterpage/inetSMU/img/back_arrow.png') no-repeat left 6px;
  			padding-left:9px;
  	/*		&:hover{
  				color:#000;
  			}*/
  		}
  	}

  	.loading{
  		text-align: center;
  		color:#999;
  		min-height: 240px;
  		margin-top: 100px;
  		font-size:0.9em;
  		background: url(/_catalogs/masterpage/inetSMU/img/loader.gif) center 30px no-repeat;
  		width:50%;
  		float:right;
  	}
  }
}
